{#
/**
 * @file kanban_board_entity.html.twig
 * Default theme implementation to present Board data.
 *
 * This template is used when viewing Board pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_kanban_board_entity()
 *
 * @ingroup themeable
 */
#}
{{ attach_library('custom_kanban/main') }}
<div{{ attributes.addClass('kanban_board_entity') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
  <div class="custom-kanban" data-id="{{ id }}">
    <div class="kanban-actions"></div>
    <div class="kanban-board"></div>
  </div>
</div>
